<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>I'M SAFE|WOMEN SAFETY WEBSITE</title>
  <link rel="stylesheet" href="/CSS/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/CSS/HomeStyle.css">
</head>

<body>

  <nav>
    <div class="logo">
        <img src="logo1.png" alt="logo" height="90%">
        <h1>I'M SAFE</h1>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blogs</a></li>
        <li><a href="/emergency">Emergency</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/contact">Contact Us</a></li>
    </ul>
</nav>





  <header>
    <h1 align="center" id="h1">Blog</h1>
    <img src="img3.gif" alt="image" id="img">
  </header>

  <div class="row row-cols-1 row-cols-md-2 g-4 p-4" id="blogs">
    <div class="col">
      <div class="card">
        <a href="page1" class="link-dark" style="text-decoration:none;">
          <img src="https://blog.imsafe.app/wp-content/uploads/2023/12/Cover-pic-1024x1024.jpg" class="card-img-top"
            height="350vh" style="object-fit: cover; object-position: top;">
          <div class="card-body">
            <h2 class="card-title">10 Self Defense Strategies Every Woman Needs To Know</h2>
            <p class="card-text">Practical strategies for avoiding, detecting, and surviving a violent street attack.
            </p>
          </div>
        </a>
        </a>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <a href="#" class="link-dark" style="text-decoration:none;">
          <img src="https://blog.imsafe.app/wp-content/uploads/2023/08/Untitled-design-2-1024x576.jpg"
            class="card-img-top" alt="image">
          <div class="card-body">
            <h2 class="card-title">Manipur Women Parade</h2>
            <p class="card-text">Manipur- the Jewel of India is facing a moment of discrimination and going through a
              tough time since the video of women, parading naked and being gang-raped.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <a href="#" class="link-dark" style="text-decoration:none;">
          <img src="https://blog.imsafe.app/wp-content/uploads/2023/08/Untitled-design-7-1024x576.jpg"
            class="card-img-top" alt="image">
          <div class="card-body">
            <h2 class="card-title">Bhanwari Devi- The Woman Power behind Vishaka Guidelines</h2>
            <p class="card-text">When a society fails to harness the energy and creativity, respect and dignify its
              women, they are at a loss of its own, juggling between the patriarchies.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <a href="#" class="link-dark" style="text-decoration:none;">
          <img src="https://blog.imsafe.app/wp-content/uploads/2023/08/Untitled-design-4-1024x576.jpg"
            class="card-img-top" alt="image">
          <div class="card-body">
            <h2 class="card-title">Dowry: A Lingering Practice and the Quest for Eradication</h2>
            <p class="card-text">Every marriage has a story to recall. Every parent has dreams of a grand wedding for
              their children and always hopes for their betterment. In India, marriages are made in heaven.</p>
          </div>
        </a>
      </div>
    </div>
  </div>

  <footer class="row p-4" style="  background-color: #ecdad3;">
    <div class="col-md-1"></div>
    <div class="col-md-2">
      <img src="logo1.png" height="200vh" width="200vh" alt="logoImage">
    </div>
    <div class="col-md-2 pt-5">
      <h1 class="mt-3">I'M SAFE
        <p> WOMEN SAFETY WEBSITE</p>
      </h1>
    </div>
    <div class="col-md-6 pt-5 mt-2" id="navbar">
      <nav class="pt-2"  style="background-color: #ECDAD3;">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/emergency">Emergency</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
    integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="/javaScript/Blog.js"></script>
</body>

</html>