<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I'M SAFE|WOMEN SAFETY WEBSITE</title>
    <link rel="stylesheet" href="/CSS/HomeStyle.css">
    <style>
        .box1{
            border-top: 1px solid gray;
            margin-top: 25%;
            padding-top: 100px;
            padding-bottom: 100px;
        }
        .box1 h1,h2{
            text-align: center;
        }
       .box1 h1{
            font-size: 4vw;
            font-weight: 600;
        }
        .box1 h2{
            font-size: 1.5vw;
            font-weight: 500;
            line-height: 50px;
        }
        .box1 img{
            transform: translate(20%,0%);
        }
        .box1{
            margin-top: 39vh;
            padding-top: 0%;
            padding-bottom: 0%;
            padding: 5%;
        }
        @media (max-width:500px){
            .box1 h1{
             font-size: 5vh;
           }
           .box1 h2{
             font-size: 2vh;
             line-height: 20px;
             text-align: justify;
             padding: 10px;
           }
        .box1 img{
            transform: translate(0%,0%);
           width: 100%;
        }
        }
    </style>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="logo1.png" alt="logo" height="90%">
            <h1>I'M SAFE</h1>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blogs</a></li>
            <li><a href="/emergency">Emergency</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>

    <div class="main">
        <div class="center">
            <div class="parent">
                <h1>Women’s personal</h1> <span>safety Website.</span>
            </div>
            <p>Creating a safe space to grow.</p>
            <div id="cycle">
                <img src="gif_2.gif" alt="IMAGE" height="200px" width="200px">
                <img src="gif_3.gif" alt="IMAGE" height="6px" width="100%">
            </div>
        </div>
        <div id="content">
            <div class="div1">
                <video controls loop autoplay muted src="2.mp4"></video>
            </div>
            <div class="div2">
                <h1>Why I’m safe?</h1>
                <p>
                    We are a team of passionate and committed members working towards empowering women. Believing that
                    the first step towards empowerment is safety, we harness the power of technology and trust to bring
                    about transformation in the lives of women.
                    Our mission is to build a movement where women form a trusted community and help empower each other
                    and be able to live in abundance.
                </p>
            </div>
        </div>
    </div>

    <div class="box1">
        <h1 id="label">How are we  <span style="color: #FF5D9E;">different?</span></h1>
        <h2>
            Women deserve to live in a secure and confident environment. “I’m safe” is a platform that delivers an effective and free solution to women’s safety. During an emergency or when someone is hesitant to deal directly with law enforcement, I’m safe allows their close contacts to help. Our privacy and security features are among the most stringent in the industry.
        </h2>
        <img id="img" src="safety.png" alt="image" height="60%" width="70%">
    </div>


    <nav style="background-color: #ECDAD3;">
        <div class="logo">
            <img src="logo1.png" alt="logo" height="90%">
            <h1>I'M SAFE</h1>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blogs</a></li>
            <li><a href="/emergency">Emergency</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="/javaScript/home.js"></script>
</body>

</html>