<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I'M SAFE|WOMEN SAFETY WEBSITE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/CSS/style.css">
</head>

<body>
    <div class="row pt-2">
        <div class="col-md-1"></div>
        <div class="col-md-5 p-4">
            <img id="img1" src="https://blog.imsafe.app/wp-content/uploads/2023/12/Cover-pic-1024x1024.jpg"
                height="500vh" class="card-img-top">
        </div>
        <div class="col-md-5 p-4">
            <h2 class="mt-5" id="text">10 Self Defense Strategies Every Woman Needs To Know.</h2>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row pb-5">
        <div class="col-md-1"></div>
        <div class="col-md-10 p-3">
            <div class="box">
                <h1>Strategy #1 - Awareness of Surroundings and the People In Them.</h1>
                <p>
                    Awareness is as simple as it is powerful. It deters criminals, lets you detect threats ahead of time
                    and gives your intuition the information it needs to protect you. An alert person is more difficult
                    to attack than a distracted person and therefore less likely to be selected for crime.

                    This woman was able to avert a kidnapping because her awareness allowed her to see danger ahead of
                    time.

                    Predators aim to catch victims off guard so that by the time they realize what's happening it's too
                    late. Your eyes, ears, and intuition have been perfected over centuries for the sole purpose of
                    keeping you alive. They are highly effective survival tools- never allow them to be shut down in
                    public.
                </p>
            </div>
            <div class="box">
                <h1>Strategy #2 - Trust Your Instincts.</h1>
                <p>
                    Many women who were attacked say they had a bad feeling beforehand but ignored it. In order to not
                    appear rude or paranoid we so often interrogate and deny our own survival instincts. But that gut
                    feeling that something isn't right is the most important warning sign that you are not safe.
                    Instincts work faster than intellect when it comes to your safety and require no further validation.
                    Always listen to your gut feeling about a person, place or situation.
                </p>
            </div>

            <div class="box">
                <h1>Tip #3 - Present Yourself Confidently.</h1>
                <p>
                    Body language is one of the most important indicators of a persons willingness to fight back.
                    Studies show that predators judge vulnerability by observing how people walk. Someone who walks
                    confidently with their shoulders back and head up and moves swiftly with purpose is perceived to be
                    likely and capable of standing up for themselves. Someone who hangs their head, avoids eye contact,
                    and walks with a sense of defeatedness is perceived to be unlikely to put up a fight. Confident body
                    language is what tells a predator within a seconds glance that you are not an easy target. When you
                    move, move with confidence. </p>
            </div>

            <div class="box">
                <h1>Strategy #4 - Deny Attack Opportunities.</h1>
                <p>
                    Finding attack opportunities involve considerations like:

                    finding a place and time where no one is around to intervene

                    positioning themselves to surprise you or attacking when you're distracted

                    using lures to bait victims into approaching willingly

                    attacking when the victim has no capacity to defend themselves (intoxicated)


                    Criminals spend their lives honing these tactics while the average person spends little time
                    considering their vulnerability to them. Like a master checkmates a novice, the criminal is usually
                    ten steps ahead of the victim when setting their trap. Our defensive strategy needs to include
                    actively denying openings for attack.

                    Other people are your greatest protection. Stick with friends and take paths with people around.

                    Observe those around you- if someone seems to be following you, paying too much attention to you, or
                    is in a position where they could surprise or trap you, stay away from them.

                    If someone on an elevator gives you the creeps, wait for the next one.

                    If someone is lingering by your car or front door, wait for them to leave.

                    You cannot defend what you cannot see which is why most attacks come from behind. Consider what's
                    behind you.

                    When waiting for a bus stand with your back against a wall so you can see all angles.


                    Positioning yourself so that you cannot be surprised or cornered makes it difficult for a predator
                    to find an attack opportunity. </p>
            </div>



            <div class="box">
                <h1>Strategy #5 - Recognize Lures.</h1>
                <p>
                    Lures lower the criminals risk by reducing the amount of time an attack will take and eliminating
                    escape options. They work so well because they exploit our virtues: our desire to help others, to
                    reciprocate, to be nice and not offend. Recognize lures for what they are- an excuse to be allowed
                    into your personal space.
                </p>
            </div>

            <div class="box">
                <h1>Strategy #6 - Say No and Mean It.</h1>
                <p>
                    Predators use conversation to 'interview' you to see if you will be an easy target. When someone
                    speaks to you, speak with confidence and firmness. Don't shy away from eye contact. Say no to
                    anything that you do not want to do or to anything that would put you in danger like getting close
                    to someones car or going in their house. No is a complete sentence requiring no explanation or
                    negotiation. The ability to say no and mean it is as fundamental as self defense gets; it says 'your
                    will will not be imposed on me.'
                </p>
            </div>

            <div class="box">
                <h1>Strategy #7 - Protect Your Personal Space.</h1>
                <p>
                    Understanding distance is a key skill in martial arts and self defense. If someone wants to hurt you
                    they must first get close to you. The closer they get they fewer options you have. Aim to keep
                    people at a two arms length distance away. That's your personal space. Anyone within that space is a
                    potential threat. If someone speaks to you in public respond from your safe distance. If they inch
                    closer to you maintain distance by moving away. If the attacker is far enough from you that they
                    can't reach out and grab you from behind, run. If you can't run away without being grabbed, keep as
                    much distance from the attacker as you can but face them head on so you are ready to defend
                    yourself. </p>
            </div>

            <div class="box">
                <h1>Strategy #8 - Be The Threat.</h1>
                <p>
                    1. If an attacker chooses you he has made the calculation that he can get away with the attack. This
                    is where you prove him wrong and show him that you are the threat to him— not the other way around.
                    <br><br>
                    2. Once a physical attack is predicted delay it as long as you can by running, keeping your
                    distance, or forcing them around physical obstacles. Their window of opportunity is small and
                    vanishes with each passing second.
                    <br><br>
                    3. Draw attention to the attack by yelling things that alert others and frighten the attacker:
                    "HELP", "GET AWAY FROM ME", "RAPIST", "POLICE"; as loud as you can. If you can't run away, face them
                    head on and put your hands up to a 'stop position' at temple height (or a fighting stance).
                </p>
            </div>
            <div class="box">
                <h1>Strategy #9 - Use Simple Weapons.</h1>
                <p>
                    In a real life situation. Use the hard, pointy parts of your body to strike soft parts of your
                    attacker. Some safe, easy to learn strikes:
                    <br>
                    1. With the point of your elbow, elbow the face (chin, temple, back of the head). Turn your body
                    with the elbow to increase power. <br>
                    2. Knee the groin, stomach, or head. Using your back leg, bend your knee to make it as pointy as you
                    can and drive it forward with all your power. This woman escaped her attacker by kneeing him as hard
                    as she could.
                    <br>
                    3.Eye poke: using your rear hand, drive your first two fingers aggressively towards the attackers
                    eyes. Just the threat of this is enough to make an attacker move back and give you space.
                    <br>
                    These are all close range strikes, meaning they can be used when someone is grabbing or choking you.
                    Also, a groin strike usually opens the opportunity for an elbow to the face and vice versa. This
                    strategy is called 'high-low'. If you strike, do so aggressively and without hesitation the first
                    time. Force them to respect your attack and shift into defense mode. As soon as they give you an
                    opening to escape, take it.
                </p>
            </div>

            <div class="box">
                <h1>Strategy #10 - Never Go to a Second Location.</h1>
                <p>
                    The secondary location is the place that an abductor is trying to take the victim. It's usually a
                    private place that allows them to commit their desired crime without risk.
                    <br>
                    The secondary location is the place that an abductor is trying to take the victim. It's usually a
                    private place that allows them to commit their desired crime without risk.
                </p>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="/javaScript/Blog.js"></script>
</body>

</html>